.page{
  width:100%;
  height:100%;
  display: flex;
}

.pageContent{
  display: flex;
  flex: auto;
  flex-direction: column;
}

.content{
  flex: auto;
}

aside{
  height:100%;
  flex: 0 0 15%;
}


header{
  flex: 0 0 10%;
}

ul, li{
  list-style: none;
  margin: 0;
  padding: 0;
}

li{
  height: 3rem;
  line-height: 3rem;
  text-align: center;
}

li:hover{
  background-color: antiquewhite;
  transition: all 200ms;
  font-size: 1.1em;
  font-weight: 600;
}

